body {
    background-image: url('background.jpg');
}
.square {
    width: 100px;
    height: 100px;
}

.h {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

input {
    width: 75px;
    height: 75px;
    margin-top: 12px;
    font-size: 4.5em;
}

.pic {
    width: 150px;
}
td {
    text-align: center;
    vertical-align: middle;
}

#board {
    text-align: center;
}

h1 {
    text-align: center;
}

.endmessage {
    text-align: center;
    background-color: darkgreen;
    color: white;
}
.rt {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
    margin: auto;
}

.block {
    width: 85%;
    height: 85%;
}

li {
    margin: 100px;
    font: message-box;
    font-size: 22;
    color: white;
}

.superScary {
    width: 100%;
    height: 100%;
}

.superScary1 {
    background-image: url('scary.gif');
    background-size: cover;
}

.superScary2 {
    background-image: url('scary1.gif');
    background-size: cover;
}
.superScary3 {
    background-image: url('scary2.gif');
    background-size: cover;
}
.superScary4 {
    background-image: url('https://media.giphy.com/media/3hxk2aOwWmfOU/giphy.gif');
    background-size: cover;
}
.superScary5 {
    background-image: url('https://media.giphy.com/media/NYCjBIBGtyeFq/giphy.gif');
    background-size: cover;
}
