.main {
    background-image: url('mainbody.png');
}
.Oct {
    background-image: url('background.jpg');
}

.Nov {
    background-image: url('novbackground.jpg');
}

.Dec {
    background-image: url('christmasback.jpg');
}
.square {
    width: 100px;
    height: 100px;
}

.h {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

input {
    width: 75px;
    height: 75px;
    margin-top: 12px;
    font-size: 4.5em;
}

.pic {
    width: 150px;
}
td {
    text-align: center;
    vertical-align: middle;
}

#board {
    text-align: center;
}

h1 {
    text-align: center;
}

.endmessage {
    text-align: center;
    background-color: darkgreen;
    color: white;
}
.rt {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
    margin: auto;
}

.block {
    width: 85%;
    height: 85%;
}

span {
    background-color: black;
    margin: 100px;
    font: bold;
    font-size: 16;
    color: white;
}

.superScary {
    width: 100%;
    height: 100%;
}

.superScary1 {
    background-image: url('scary.gif');
    background-size: contain;
}

.superScary2 {
    background-image: url('scary1.gif');
    background-size: contain;
}
.superScary3 {
    background-image: url('scary2.gif');
    background-size: contain;
}
.superScary4 {
    background-image: url('https://media.giphy.com/media/3hxk2aOwWmfOU/giphy.gif');
    background-size: contain;
}
.superScary5 {
    background-image: url('https://media.giphy.com/media/NYCjBIBGtyeFq/giphy.gif');
    background-size: contain;
}

.thanksGiving1 {
    background-image: url('https://media.giphy.com/media/l0HlJXqAUaLjJ9Lyw/giphy.gif');
    background-size: contain;
}

.thanksGiving2 {
    background-image: url('https://media.giphy.com/media/hHZfOv3tpyItG/giphy.gif');
    background-size: contain;
}

.thanksGiving3 {
    background-image: url('https://media.giphy.com/media/kmdimLJ8pwqOI/giphy.gif');
    background-size: contain;
}

.thanksGiving4 {
    background-image: url('https://media.giphy.com/media/3oz8xuXMdvWVLONQ9a/giphy.gif');
    background-size: contain;
}

.thanksGiving5 {
    background-image: url('https://media.giphy.com/media/3oriNOxhZpQB1511eM/giphy.gif');
    background-size: contain;
}

.mas1 {
    background-image: url('https://media.giphy.com/media/YxlUxrYGw2w9y/giphy.gif');
    background-size: contain;
}

.mas2 {
    background-image: url('https://media.giphy.com/media/K90ckojkohXfW/giphy.gif');
    background-size: contain;
}

.mas3 {
    background-image: url('https://media.giphy.com/media/xTk9ZLRMhW9wrSUf4c/giphy.gif');
    background-size: contain;
}

.mas4 {
    background-image: url('https://media.giphy.com/media/9w475hDWEPVlu/giphy.gif');
    background-size: contain;
}

.mas5 {
    background-image: url('https://media.giphy.com/media/D28t0Rto3daKI/giphy.gif');
    background-size: contain;
}
