body {
    background-image: url('../assets/background.jpg');
}
.square {
    width: 100px;
    height: 100px;
}

.h {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

input {
    width: 75px;
    height: 75px;
    margin-top: 12px;
    font-size: 4.5em;
}

td {
    text-align: center;
    vertical-align: middle;
}

#board {
    text-align: center;
}

h1 {
    text-align: center;
}

.endmessage {
    text-align: center;
    background-color: darkgreen;
    color: white;
}
.rt {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
    margin: auto;
}

.block {
    width: 85%;
    height: 85%;
}

li {
    margin: 100px;
    font: message-box;
    font-size: 22;
    color: white;
}
